# <center>Electiva Aprendizaje automático</center>

# <center>Maestría en Gestión de Tecnologías de Información y Conocimiento</center>

# <center>Facultad de Ingeniería</center>
# <center>Universidad de Nariño</center>

In [18]:
import pandas as pd

1) Lea únicamente los valores numéricos del archivo “Adult_Parte1.xlsx” y guárdelos en un
dataframe de Pandas llamado X

In [19]:
X=pd.read_excel("./Adult_Parte1.xlsx")
X.head()

,Edad,Nivel Educativo (máximo valor = postgrado),Hs.que trabaja x semana,Gana más de 50K anuales? (1=si)
0,36,13,55,1
1,29,13,50,1
2,34,11,32,1
3,33,13,25,1
4,30,10,45,0

2) Obtenga el tamaño de ‘X’ en cantidad de filas y columnas.

In [20]:
print(X.shape)

(11029, 4)

3) Calcule el valor mínimo de cada columna de ‘X’.

In [21]:
print(X.dtypes)
print("Edad mínimo:",X.Edad.min())
print("Nivel Educativo mínimo:",X["Nivel Educativo (máximo valor = postgrado)"].min())
print("Horas por semana mínimo:",X["Hs.que trabaja x semana"].min())

Edad                                          int64
Nivel Educativo (máximo valor = postgrado)    int64
Hs.que trabaja x semana                       int64
Gana más de 50K anuales? (1=si)               int64
dtype: object
Edad mínimo: 17
Nivel Educativo mínimo: 1
Horas por semana mínimo: 1

In [22]:
X.min()

Edad                                          17
Nivel Educativo (máximo valor = postgrado)     1
Hs.que trabaja x semana                        1
Gana más de 50K anuales? (1=si)                0
dtype: int64

4) Ahora obtenga el máximo, pero por cada fila.

In [23]:
X.transpose().max()

0        55
1        50
2        34
3        33
4        45
         ..
11024    50
11025    55
11026    50
11027    60
11028    43
Length: 11029, dtype: int64

5) Realice una escala lineal de ‘X’ por columna. Para esto deberá a cada valor, restarle el
mínimo de la columna y dividirlo por la diferencia entre el máximo y el mínimo de la
columna correspondiente

In [25]:
def escala_lineal(X):
    df=pd.DataFrame()
    for c in X.columns:
        df[c]=(X[c]-X[c].min())/(X[c].max()-X[c].min())
    return df

X_escala=escala_lineal(X)
X_escala.head()

,Edad,Nivel Educativo (máximo valor = postgrado),Hs.que trabaja x semana,Gana más de 50K anuales? (1=si)
0,0.260274,0.800000,0.551020,1.0
1,0.164384,0.800000,0.500000,1.0
2,0.232877,0.666667,0.316327,1.0
3,0.219178,0.800000,0.244898,1.0
4,0.178082,0.600000,0.448980,0.0

In [28]:
X_escala.max()

Edad                                          1.0
Nivel Educativo (máximo valor = postgrado)    1.0
Hs.que trabaja x semana                       1.0
Gana más de 50K anuales? (1=si)               1.0
dtype: float64

6) Reordene aleatoriamente las filas de ‘X’.

In [103]:
X_escala_ord=X_escala.sample(len(X_escala),random_state=4)
X_escala_ord.reset_index(inplace=True)
X_escala_ord

,index,Edad,Nivel Educativo (máximo valor = postgrado),Hs.que trabaja x semana,Gana más de 50K anuales? (1=si)
0,6200,0.041096,0.133333,0.397959,0.0
1,10936,0.452055,0.933333,0.602041,1.0
2,6902,0.383562,0.866667,0.448980,1.0
3,7784,0.328767,0.800000,0.500000,1.0
4,2691,0.123288,0.200000,0.397959,0.0
...,...,...,...,...,...
11024,6017,0.369863,0.933333,0.397959,1.0
11025,709,0.301370,0.600000,0.500000,1.0
11026,10679,0.054795,0.533333,0.530612,0.0
11027,8366,0.301370,0.533333,0.438776,0.0
11028,1146,0.328767,0.533333,0.397959,0.0

7) Separe la última columna del conjunto de datos y almacénelo en una variable llamada
‘Y’. ‘X’ deberá contener el resto de las columnas.

In [105]:
Y=X_escala_ord['Gana más de 50K anuales? (1=si)']
X=X_escala_ord.drop(columns=['Gana más de 50K anuales? (1=si)','index'])

In [106]:
Y.head()

0    0.0
1    1.0
2    1.0
3    1.0
4    0.0
Name: Gana más de 50K anuales? (1=si), dtype: float64

In [107]:
X.head()

,Edad,Nivel Educativo (máximo valor = postgrado),Hs.que trabaja x semana
0,0.041096,0.133333,0.397959
1,0.452055,0.933333,0.602041
2,0.383562,0.866667,0.448980
3,0.328767,0.800000,0.500000
4,0.123288,0.200000,0.397959

8) Separe el 80% de las filas de ‘X’ en una variable llamada ‘X_train’ y el 20% restante en
‘X_test’. Haga lo mismo con ‘Y’ manteniendo el orden obtenido del punto 6.

In [120]:
indice_80=int(len(X)*0.8)
X_train=X[0:indice_80]
X_test=X[indice_80:len(X)]

print(len(X_train))
print(len(X_test))
print(len(X))

8823
2206
11029

In [121]:
indice_80=int(len(X)*0.8)
Y_train=Y[0:indice_80]
Y_test=Y[indice_80:len(X)]

print(len(Y_train))
print(len(Y_test))
print(len(Y))

8823
2206
11029

9) Transponga la matriz ‘X’. Tenga en cuenta que si transpone antes de la escala lineal no
seguirá obteniendo el mismo resultado en los Ejercicios 5, 6, 7 y 8.